@charset "utf-8";
/* CSS Document */

body{background-color:#F5F5F5;}

#Main {
font: 12px Tahoma,Arial,"宋体",sans-serif;
padding:0;
margin:0;
width:100%;
height:100%;
overflow:hidden;
background-color:#FFF;
}
#header{border-bottom:1px solid #CCC;}
.inner{padding:0;width:990px;margin:30px auto 30px auto;height:100%;overflow:hidden;border:1px solid #DDD;background:url(../Images/BlueBg2.gif) 0 1px repeat-x;}
.inner dt{width:95%;margin:16px auto 30px auto; height:100%; overflow:hidden;color:#484848;font: bold 14px '宋体', Tahoma,Arial;}
.inner dd{background-color:#FFFBD9;width:95%;margin:0 auto 16px auto;height:100%; overflow:hidden;}

.inner dd h1,.inner dd table,.inner dd p{width:50%;_width:55%;}
.inner dd h1{margin:120px auto 80px auto;height: auto;overflow:hidden;background: url(../Images/Success3.gif) 0 0 no-repeat;padding:0;font: normal 28px '微软雅黑',Tahoma,Arial,'宋体';color:#333;}
.inner dd h1 span{margin-left:10%;}
.inner dd h1 em{ font-size:12px; color:#666; font-style:normal; text-align:center;}

.inner dd p{height:100%;overflow:hidden;margin:0 auto;padding:0;border-top:1px solid #DDD; text-align:center;}
.inner dd p span,.inner dd p em,.inner dd h1 em{display:block;margin:26px 0 0 0;}

.inner dd p em{font-style:normal; margin-bottom:80px;}
.inner dd p em a{background-color:#0AC; display:inline-block;width:134px; height:40px; line-height:36px; text-align: center;font-family:'微软雅黑','宋体',Arial; font-size:16px; border:0; cursor:pointer; color:#FFF;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.inner dd p em a:hover{text-decoration:none;-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9;}

#footer{margin-top:0;}