@charset "utf-8";
/* CSS Document */

body{background-color:#F5F5F5;}
#Main {font: 12px Tahoma,Arial,"宋体",sans-serif;padding:0;margin:0;width:100%;height:100%;overflow:hidden;background-color:#FFF;}
#header{border-bottom:1px solid #CCC;}
.inner{padding:0;width:990px;margin:30px auto;height:100%;overflow:hidden;border:1px solid #BBB;background:url(../Images/BlueBg2.gif) 0 1px repeat-x;}
.inner dt{width:95%;margin:16px auto 30px auto; height:100%; overflow:hidden;color:#484848;}
.inner dt em{font: bold 14px Tahoma,Arial,'宋体';float:left;}
.inner dd{background-color:#FFFBD9; margin:0 20px 20px 20px;height:100%;overflow:hidden;}
/*流程图*/
#ContentKeyLog{padding:60px 0 0 0;margin:0 auto;height:100%;overflow:hidden;font: normal 15px '微软雅黑','Microsoft YaHei',"宋体",Arial;color:#333;width:90%;}
#ContentKeyLog h1{height:46px; overflow:hidden;}
#ContentKeyLog p{float:left;width:25%;text-align:center;color:#666;height:42px;line-height:32px;*width:24.9%;}
.step1 h1{background:url(../Images/StepBlue.gif) center 0 no-repeat;}
#ContentKeyLog.step1 .stepTxt1,#ContentKeyLog.step2 .stepTxt2,#ContentKeyLog.step3 .stepTxt3,#ContentKeyLog.step4 .stepTxt4{color:#089;}
#ContentKeyLog.step3 .stepTxt1,#ContentKeyLog.step3 .stepTxt2{color:#7AB;}
.step2 h1{background:url(../Images/StepBlue.gif) center -52px no-repeat;}
.step3 h1{background:url(../Images/StepBlue.gif) center -103px no-repeat;}
.step4 h1{background:url(../Images/StepBlue.gif) center -154px no-repeat;}

.inner dd h3{font: bold 12px Tahoma,'宋体',Arial;color:#09A;width:82%;margin:0 auto;padding:26px 0 0 5%;border-top:1px solid #CCC;}
.inner dd h3 i{font-style:normal;font: normal 12px Tahoma,'宋体',Arial;color:#999;margin-left:10px;}

.inner dd table{font: normal 14px Tahoma,Arial,'宋体';margin:30px 0;}
.inner dd table th{padding-right:18px;font-weight:normal;}
.inner dd table td a{font-size:12px;font-family:Tahoma,'宋体',Arial;color:#07C;}
.inner dd table td em{font-size:12px;font-style:normal;display:inline-block;margin-left:6px;background:url(../Images/TipsIco.gif) 0 center no-repeat;padding:0 0 0 18px;color:#D00;height:26px;line-height:26px;}
.inner dd table td label{z-index:4;position:absolute;font-size:12px;height:30px;line-height:30px;white-space:nowrap;color:#93A2B3;cursor:text;margin-left:6px;display:none;display:block \9;*margin-left:-210px;_line-height:27px;}
.inner dd table input{border:1px solid #CCC;border-top-color:#999;height:26px;line-height:26px;padding:0 0 0 4px;margin:0;display:block;float:left;}

.inner dd table input.AgreeCheckbox,.inner dd table td span{float:left;font-size:12px;height:26px;line-height:26px;}
.inner dd table input.AgreeCheckbox{margin:0 8px 0 0; border:0;}
/*下一步按钮*/
#ConfirmBtn{background-color:#0AC;width:160px;height:40px;line-height:36px;text-align: center;font-family:'微软雅黑','宋体',Arial; font-size:16px; border:0; padding:0;color:#FFF;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;-moz-opacity:1;-khtml-opacity:1;opacity:1;}
#ConfirmBtn:hover{text-decoration:none;-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9;}
/*温馨提示*/
#Help{height:auto;overflow:hidden;padding:2% 4%;color:#333;line-height:24px;border-top:1px solid #DDD;width:75%;margin:0 auto;}
#Help h4{color:#666;font:bold 12px '宋体',Arial;line-height:18px;height:18px;border-left:5px solid #0AC;padding:0 0 0 12px;margin:0 0 8px 0;}
#Help p{color:#888;line-height:24px;margin-bottom:6px;font-family:'宋体',Arial;margin:0;padding:0;}
#Help a{color:#08C;}

#footer{margin-top:0;}



.content_div{
	min-width:319px;
	width:100%;
	height:100%;
	background:#fff;
	padding:30px 0;
}
.content_main{
	padding:20px;
	padding-top:0;
	margin:0 auto;
	min-width:279px;
	max-width:840px;
	border:1px solid #ccc;
	font: 13px "微软雅黑",Tahoma,Arial,"宋体",sans-serif;
}
.content_title{
	margin:0;
	padding:0;
	width:100%;
	color:#585858;
	line-height:48px;
	font: bold 14px '宋体';
	margin-top:20px;
}
.content_middle{
	min-width:279px;
	width:100%;
	height:540px;
	margin:0 auto;
	margin-top:20px;
	background:#fffbd9;
}
.content_middle .tipTitle{
	width:90%;
	margin:0 auto;
	padding:30px 0 8px 0;
	border-bottom:1px solid #ccc;
}
.content_middle .tipTitle h3{
	width:90%;
	font: bold 12px Tahoma,'宋体',Arial;
	color:#09A;
	margin:0 auto;
	}
.content_middle .tipTitle i{
	font-style:normal;
	font: normal 12px Tahoma,'宋体',Arial;
	color:#999;
	margin-left:10px;
	}

.content_middle .content_form{
	min-width:249px;
	max-width:345px;
	height:auto;
	padding:0 15px 15px 15px;
	margin:0 auto;
}
.content_middle .content_form .content_row{
	min-width:249px;
	height:24px;
	margin-top:10px;
}
.content_middle .content_form .content_row .left{
	float:left;
	padding-right:10px;
	padding-top:5px;
}
.content_middle .content_form .content_row .right{
	float:left;
}
.content_middle .content_form .content_row .errText{
	width:100%;
	float:left;
	font-size:10px;
	line-height:20px
}
.content_middle .content_form .content_row .errText em{
	font-size:12px;
	font-style:normal;
	display:inline-block;
	margin-left:6px;
	background:url(../Images/TipsIco.gif) 0 center no-repeat;
	padding:0 0 0 18px;
	color:#D00;
	height:26px;
	line-height:26px;
}

.content_middle .content_form .content_row .right input{
	border:1px solid #CCC;
	border-top-color:#999;
	height:26px;
	line-height:26px;
	padding:0 0 0 4px;
	margin:0;
	display:block;
	float:left;
	width:242px;
}
.content_middle .content_form .content_button{
	min-width:249px;
	margin:0 auto;
	margin-top:60px;
}


